body {
  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow: hidden;
  background: url('/img/scuff.jpg') repeat;
  color: white;
}

a {
  color: #00B7FF;
}